{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta property="og:title" content="MMWD" />
  <meta property="og:image" content="{% static 'favicon-16x16.png' %}" />
  <meta property="og:description" content="making music with dice"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MAKING MUSIC WITH DICE</title>
  <link href="http://fonts.googleapis.com/earlyaccess/notosanskr.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/MMWD.css' %}">
  <script src="{% static 'js/jquery-1.12.4.min.js' %}" type></script>
  <script src="{% static 'js/jquery-ui.min.js' %}" type></script>
  <script src="{% static 'js/jquery.ui.touch-punch.min.js' %}" type></script>
  <script>
  $( function() {
    $('#rollDice').click(function(){
      var pinkDiceNumber = Math.floor(Math.random() * 6)+1; 
      animateDice(pinkDiceNumber);
    });
    $('.nav').click(function(){
      $('.modal').toggleClass("visible");
    });
    $('.icon_close').click(function(){
      $('.modal').removeClass("visible");
    });
  });
  var animateDice = function(pinkDice) {
    var i = 0;
    var timer = setInterval(function(){
      if(i<10){
        $('.midi_dice').children().first().attr('src', '/static/dice/PinkDice01_0000'+i+'.png');
      }else if(i<60){       
          $('.midi_dice').children().first().attr('src', '/static/dice/PinkDice01_000'+i+'.png');            
      }else{
          $('.midi_dice').children().first().attr('src', '/static/dice/PinkDice0'+pinkDice+'.png');
          clearInterval(timer);
          return;
      }
      i++;
    }, 33);
  };
  </script>
</head>
<body>
  <div class="container">
    <div class="samdasu">
      <div class="rectangle_top">
        <span class="nav">
          <a>
            <img src="{% static 'icon-hamburger.png' %}" srcset="{% static 'icon-hamburger@2x.png' %} 2x, {% static 'icon-hamburger@3x.png' %} 3x" alt="reset">
          </a>
        </span>
        <span class="making_music_with">MMWD</span>
        <span class="reset">
          <a href="/">
            <img src="{% static 'ic-reset.png' %}" srcset="{% static 'ic-reset@2x.png' %} 2x, {% static 'ic-reset@3x.png' %} 3x" alt="reset">
          </a>
        </span>
      </div>
      <div class="modal">
        <div class="modal_content">
          <img src="/static/icon-close.svg" class="icon_close">
          <span class="nav_menu"><a href="/bright">밝은 느낌</a></span>
          <span class="nav_menu"><a href="/dark">어두운 느낌</a></span>
          <span class="nav_menu"><a href="/mixed">우리반 주제곡 만들기</a></span>
          <span class="nav_menu nav_active"><a href="/dice">주사위</a></span>
        </div>
      </div>
      <div class="midi_dice">
          <img src="/static/dice/PinkDice00.png">
      </div>
      <div class="rectangle_bottom" id="rollDice">
          <img src="{% static 'roll-dice.png' %}" srcset="{% static 'roll-dice@2x.png' %} 2x, {% static 'roll-dice@3x.png' %} 3x">
      </div>
    </div>
  </div>
</body>
</html>
