{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta property="og:title" content="MMWD" />
  <meta property="og:image" content="{% static 'favicon-16x16.png' %}" />
  <meta property="og:description" content="making music with dice"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MAKING MUSIC WITH DICE</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/MMWD.css' %}">
  <script src="{% static 'js/jquery-1.12.4.min.js' %}" type></script>
  <script src="{% static 'js/jquery-ui.min.js' %}" type></script>
  <script src="{% static 'js/jquery.ui.touch-punch.min.js' %}" type></script>
  <script>
  var order = [];
  $( function() {
    $('.nav').click(function(){
      $('.modal').toggleClass("visible");
    });
    $('.icon_close').click(function(){
      $('.modal').removeClass("visible");
    });
    $('.btn_vae').filter(':last').children().hide();
    $('.ui-label').each(function(){
      order.push($(this).attr('data-label'));
    });
    $( "#sortable" ).sortable({
      forceHelperSize: true,
      cancel: ".fixed, .cancelled",
      items: '.ui-state-default.target',
      update: function(event, ui){
        order = [];
        $('.ui-label').each(function(){
          $('.btn_vae').children().show();
          order.push($(this).attr('data-label'));
        });
        $('.btn_vae').filter(':last').children().hide();
      }
    });
    $( "#sortable" ).disableSelection();
  } );
  var newlastwrap = function(premidi, nexmidi){
    var result = '<li class="ui-state-default midi_music" data-music="' + nexmidi + '">' +
            '<div class="ui-label" data-label="'+nexmidi+'">' +
            '<img src="{% static "" %}img/mixed/'+nexmidi+'.png" srcset="{% static "" %}img/mixed/'+nexmidi+'@2x.png 2x, {% static "" %}img/mixed/'+nexmidi+'@3x.png 3x" class="ic_circle"></div>'+
            '<div class="ui-name"><span>'+nexmidi+'</span></div>' +
            '<div class="btn_vae"><img src="{% static "ic-add.png" %}" srcset="{% static "ic-add@2x.png" %} 2x, {% static "ic-add@3x.png" %} 3x" class="ic_add_new" data-value="'+ nexmidi +'" data-append="'+premidi+'_'+nexmidi+'"></div>' +
            '<div class="left-item">' +
            '<img src="{% static "ic-play-black.png" %}" srcset="{% static "ic-play-black@2x.png" %} 2x, {% static "ic-play-black@3x.png" %} 3x" class="ic_play" data-value="'+ nexmidi +'">' +
            '<audio src="{% static "" %}wave/mixed/' + nexmidi + '.wav" class="audio_wave" type="audio/wav" id=' + nexmidi + ' ontimeupdate=recover(this)></audio></div></li>';
    return result;
  }
  var newnextwrap = function(premidi, nexmidi){
    var result = '<li class="ui-state-default midi_music" data-music="' + nexmidi + '">' +
            '<div class="ui-label" data-label="'+nexmidi+'">' +
            '<img src="{% static "" %}img/mixed/'+nexmidi+'.png" srcset="{% static "" %}img/mixed/'+nexmidi+'@2x.png 2x, {% static "" %}img/mixed/'+nexmidi+'@3x.png 3x" class="ic_circle"></div>'+
            '<div class="ui-name"><span>'+nexmidi+'</span></div>' +
            '<div class="btn_vae"><img src="{% static "ic-add.png" %}" srcset="{% static "ic-add@2x.png" %} 2x, {% static "ic-add@3x.png" %} 3x" class="ic_add_new" data-value="'+ nexmidi +'" data-append="'+premidi+'_'+nexmidi+'"></div>' +
            '<div class="left-item">' +
            '<img src="{% static "ic-play-black.png" %}" srcset="{% static "ic-play-black@2x.png" %} 2x, {% static "ic-play-black@3x.png" %} 3x" class="ic_play" data-value="'+ nexmidi +'">' +
            '<audio src="{% static "" %}wave/mixed/' + nexmidi + '.wav" class="audio_wave" type="audio/wav" id=' + nexmidi + ' ontimeupdate=recover(this)></audio></div></li>';
    return result;
  }
  var newintermidiwrap = function(premidi, nexmidi){
    var result = "<li class='ui-state-default midi_music rectangle-vae' data-music='"+premidi+"_"+nexmidi+"'>"
        +"<div class='ui-label' data-label='"+premidi+"_"+nexmidi+"'>"
        +"<img src='{% static 'hybrid.png' %}' srcset='{% static 'hybrid@2x.png' %} 2x, {% static 'hybrid@3x.png' %} 3x' class='ic_circle'></div>"
        +"<div class='ui-name'><span>"+premidi+" + "+nexmidi+"</span></div>"
        +"<div class='btn_vae'></div>"
        +"<div class='left-item'>"
        +"<img src='{% static 'ic-play-black.png' %}' srcset='{% static 'ic-play-black@2x.png' %} 2x, {% static 'ic-play-black@3x.png' %} 3x' class='ic_play' data-value='"+premidi+"+"+nexmidi+"'>"
        +"<audio src='{% static '' %}wave/mixed/" +premidi+'+'+nexmidi+ ".wav' class='audio_wave' type='audio/wav' id=" +premidi+'+'+nexmidi+ " ontimeupdate=recover(this)></audio>"
        "</div></li>";
    return result;
    //+"<div class='btn_vae_delete' onclick='ungroup(" + ungroup_temp + ")'>X</div>"
  }
    $(document).on('mousedown', '.ic_add', function(e) {
        var premidi = $(this).attr("data-value");
        var premidi_index = order.findIndex(x=> x == premidi)
        var nexmidi = order[premidi_index+1];
        
        var intermidiwraphtml = newintermidiwrap(premidi, nexmidi);
        var nextwraphtml = newnextwrap(premidi, nexmidi);
        var preobject = $('*[data-music="'+premidi+'"]');
        var nexobject = $('*[data-music="'+nexmidi+'"]');
        var prewrap = preobject.removeClass('target');
        var nexwrap = nexobject.removeClass('target');
        var midiwrap = $("<div class='ui-state-default midigroup grouped_"+premidi +"' data-taeho='"+premidi+"_"+nexmidi+"'/>");
        $(this).remove();
        if(preobject.next().hasClass('midigroup')){
          preobject.next().prepend(prewrap.clone().wrapAll('<li/>').parent().html() + intermidiwraphtml)
        }else{
          midiwrap.html(prewrap.clone().wrapAll('<div/>').parent().html() + intermidiwraphtml + nextwraphtml);
          nexobject.remove();
          preobject.after(midiwrap);
        }        
        preobject.remove();
        midiwrap.addClass('target')
        $('.ui-name').filter(':last').next().children().hide();
        $("#sortable").sortable('refresh');
  });
  $(document).on('mousedown', '.ic_add_new', function(){
    var premidi = $(this).attr("data-value");
    var premidi_index = order.findIndex(x=> x == premidi)
    var nexmidi = order[premidi_index+1];
    
    var wrapvalue = $(this).attr("data-append");
    var wrapobject = $("div").find('*[data-taeho="'+wrapvalue+'"]');
    if(wrapobject.next().hasClass('midigroup')){
      var changetarget = wrapobject.next().attr('data-taeho');
      console.log(changetarget)
      wrapobject.append(newintermidiwrap(premidi, nexmidi));
      wrapobject.append(wrapobject.next().children());
      wrapobject.attr('data-taeho', changetarget);
      wrapobject.next().remove();
    }else{
      wrapobject.append(newintermidiwrap(premidi, nexmidi));
      wrapobject.append(newnextwrap(premidi, nexmidi));
      wrapobject.next().remove();
      wrapobject.attr('data-taeho', premidi+"_"+nexmidi);
    }
    $(this).remove();
    $('.ui-name').filter(':last').next().children().hide();
    $("#sortable").sortable('refresh');
  });
  
  var ungroup = function(pre, next){
    var group = $('.grouped_' + pre)[0];
    var prewrap = '<li class="ui-state-default target midi_music" data-music="' + pre + '">' +
      '<div class="ui-label">' + pre + '</div>' +
      '<div class="btn_vae"><img src="{% static "ic-add.png" %}" srcset="{% static "ic-add@2x.png" %} 2x, {% static "ic-add@3x.png" %} 3x" class="ic_add" data-value="'+ pre +'"></div>' +
      '<div class="left-item">' +
      '<img src="{% static "ic-play.png" %}" srcset="{% static "ic-play@2x.png" %} 2x, {% static "ic-play@3x.png" %} 3x" class="ic_play" data-value="'+ pre +'">' +
      '<audio src="{% static "" %}wave/' + pre + '.wav" class="audio_wave" type="audio/wav" ontimeupdate=recover(this)></audio></div></li>';
    var nextwrap = '<li class="ui-state-default target midi_music" data-music="' + next + '">' +
      '<div class="ui-label">' + next + '</div>' +
      '<div class="btn_vae"><img src="{% static "ic-add.png" %}" srcset="{% static "ic-add@2x.png" %} 2x, {% static "ic-add@3x.png" %} 3x" class="ic_add" data-value="'+ next +'"></div>' +
      '<div class="left-item">' +
      '<img src="{% static "ic-play.png" %}" srcset="{% static "ic-play@2x.png" %} 2x, {% static "ic-play@3x.png" %} 3x" class="ic_play" data-value="'+ next +'">' +
      '<audio src="{% static "" %}wave/mixed/' + next + '.wav" class="audio_wave" type="audio/wav" ontimeupdate=recover(this)></audio></div></li>';
      group.outerHTML = prewrap + nextwrap;
  }
  var playing ;
  $(document).on('touchstart', '.ic_play', function(){
    var name = $(this).attr("data-value");
    var audio = document.getElementById(name);
    if (audio.paused) {
      audio.play();
      playing = $(this);
      $(this).attr("src", "{% static 'ic-pause-black.png' %}");
      $(this).attr("srcset", "{% static 'ic-pause-black@2x.png' %} 2x,{% static 'ic-pause-black@3x.png' %} 3x ");
    } else {
      audio.pause();
      $(this).attr("src", "{% static 'ic-play-black.png' %}");
      $(this).attr("srcset", "{% static 'ic-play-black@2x.png' %} 2x,{% static 'ic-play-black@3x.png' %} 3x ");
    }
  });
  var recover = function(e){
    var duration = e.duration;
    var time = e.currentTime;
    if (time == duration) {
      playing.attr("src", "{% static 'ic-play-black.png' %}");
      playing.attr("srcset", "{% static 'ic-play-black@2x.png' %} 2x,{% static 'ic-play-black@3x.png' %} 3x ");
    }
  }
  $(document).ready(function(){
    $("#makeOne").click(function (e) {
        e.preventDefault();
        var result_list = [];
        $('.midi_music').each(function(){
            result_list.push($(this).attr("data-music"));
        });
        var url = result_list.join('-');
        location.href="mixed/"+url;
    });
  });
  </script>
</head>
<body>
  <div class="container">
    <div class="henry">
      <div class="rectangle_top">
        <span class="nav">
          <a>
            <img src="{% static 'icon-hamburger.png' %}" srcset="{% static 'icon-hamburger@2x.png' %} 2x, {% static 'icon-hamburger@3x.png' %} 3x" alt="reset">
          </a>
        </span>
        <span class="making_music_with">MMWD</span>
        <span class="reset">
          <a href="./">
            <img src="{% static 'ic-reset.png' %}" srcset="{% static 'ic-reset@2x.png' %} 2x, {% static 'ic-reset@3x.png' %} 3x" alt="reset">
          </a>
        </span>
      </div>
      <div class="modal">
        <div class="modal_content">
          <img src="/static/icon-close.svg" class="icon_close">
          <span class="nav_menu"><a href="/bright">밝은 느낌</a></span>
          <span class="nav_menu"><a href="/dark">어두운 느낌</a></span>
          <span class="nav_menu nav_active"><a href="/mixed">우리반 주제곡 만들기</a></span>
          <span class="nav_menu"><a href="/dice">주사위</a></span>
        </div>
      </div>
      <ul class="rectangle_sortable" id="sortable">
         {% for midi in json_list %}
          <li class="ui-state-default target midi_music" data-music="{{ midi }}">
            <div class="ui-label" data-label={{midi}}>
              <img src="{% static '' %}img/mixed/{{ midi }}.png" srcset="{% static '' %}img/mixed/{{ midi }}@2x.png 2x, {% static '' %}img/mixed/{{ midi }}@3x.png 3x" class="ic_circle">
            </div>
            <div class="ui-name">
              <span>{{midi}}</span>
            </div>
            <div class="btn_vae">
                <img src="{% static 'ic-add.png' %}" srcset="{% static 'ic-add@2x.png' %} 2x, {% static 'ic-add@3x.png' %} 3x" class="ic_add" data-value="{{ midi }}">
            </div>
            <div class="left-item">
              <img src="{% static 'ic-play-black.png' %}" srcset="{% static 'ic-play-black@2x.png' %} 2x, {% static 'ic-play-black@3x.png' %} 3x" class="ic_play" data-value="{{ midi }}">
              <audio src="{% static '' %}wave/mixed/{{midi}}.wav" class="audio_wave" type="audio/wav" id="{{midi}}" ontimeupdate=recover(this)></audio>
            </div>
          </li>
         {% endfor %}
     </ul>
      <form id="makeOneForm" action="music">
          <input type="hidden" id="makeOneResult" name="result_list">
      </form> 
      <div class="rectangle_bottom" id="makeOne">
          <img src="{% static 'selection-complete.png' %}" srcset="{% static 'selection-complete@2x.png' %} 2x, {% static 'selection-complete@3x.png' %} 3x">
      </div>
    </div>
  </div>
</body>
</html>
