<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>midiDice</title>
    <script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.8/lib/draggable.bundle.js"></script>

</head>
<body>
        <section id="1" class="1">
                <article class="StackedListWrapper StackedListWrapper--hasScrollIndicator">
                  <header class="StackedListHeader">
                    <h3 class="Heading Heading--size3 Heading--colorWhite">Simple list</h3>
                  </header>
            
                  <ul class="StackedList StackedList--hasScroll">
                        <li class="item one">
                                <div class="StackedListContent">
                                  <h4 class="Heading Heading--size4 text-no-select">test</h4>
                                  <div class="iconClass"></div>
                            
                                  
                                    <div class="Pattern Pattern--typeHalftone"></div>
                                    <div class="Pattern Pattern--typePlaced"></div>
                                  
                                </div>
                              </li>
                    </ul>
                </article>
              </section>
</body>
</html>